:root {
    --bg-clr-head: white;
    --input-clr: rgb(197, 197, 197);
    --btn-clr: rgb(61, 152, 213);
    --bdr-clr: rgba(128, 128, 128, 0.2);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(150px, 1.1fr) 5fr;
    grid-template-rows: minmax(100px, 130px) 1fr;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--bg-clr-head);
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 40% 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header img {
    border-radius: 50%;
    width: 2rem;
    height: auto;
}

.icon {
    height: 20px;
    width: auto;
}

.row-1,
.row-2 {
   display: flex;
   margin-inline: 1rem;
}

.row-2 {
    margin: 1rem;
}

.row-1 ul,
.row-2 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.row-1 ul li,
.row-2 ul li {
    margin-inline: .5rem;
    padding-top: .5rem;
}

.row-1 a,
.row-2 a {
    text-decoration: none;
    color: black;
}

.row-1 input {
    width: 400%;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--input-clr);
}

.row-1 li:last-of-type {
    font-weight: bold;
    font-size: 1.2rem;
}

.row-2 img {
    width: 3.2rem;
    height: auto;
}

.row-1 ul:first-of-type,
.row-2 ul:first-of-type {
    margin-right: auto;
}

.row-2 p {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.2rem;
}

.row-2 p:first-of-type {
    font-size: .85rem;
}

.row-2 button {
    background-color: var(--btn-clr);
    color: white;
    border-radius: 20px;
    width: 6em;
    height: 2em;
    border: 1px solid var(--btn-clr);
    letter-spacing: .8px;
    text-transform: uppercase;
    margin: auto;
}

aside {
    background-color: var(--btn-clr);
    grid-row: 1/3;
    color: white;
    display: flex;
    flex-direction: column;
} 

h1 {
    margin: 1rem;
}

aside ul {
    margin: 1rem;
    list-style: none;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside img {
    margin-inline-end: 10px;
    width: 20px;
    height: auto;
}

h1 img {
    width: 30px;
    height: auto;
}

main {
    background-color: var(--input-clr);
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    background-color: var(--input-clr);
    overflow-y: scroll;
}

.articles {
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px 50px 15px;
}

.articles h2 {
    margin-bottom: 10px;
    grid-column: 1 / 3;
}

.card {
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto 20px 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    padding: .8rem .5rem;
}

.card p {
    padding: .8rem .5rem;
}

.card ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.card ul li {
    margin-inline-end: 1rem;
}

.aside {
    grid-row: 1/7;
    display: grid;
    grid-template-rows: 50% 50%;
    padding-top: 10px;
    gap: 2rem;

}

.aside h2 {
    margin-bottom: 10px;
}

.aside-article {
    width: 90%;
}

.top,
.bottom {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aside-article ul li {
    font-size: .9rem;
}

.aside-article ul p:first-child {
    font-weight: bold;
    padding: .5rem 0;
}

.aside-article ul p:nth-of-type(2) {
    padding-bottom: .5rem; 

}

.top ul li:nth-of-type(2) {
    border-bottom: 1px solid var(--bdr-clr);
    border-top: 1px solid var(--bdr-clr);
}

.bottom ul li:nth-of-type(2) {
    border-bottom: 1px solid var(--bdr-clr);
    border-top: 1px solid var(--bdr-clr);
}

.bottom ul li:nth-of-type(3) {
    border-bottom: 1px solid var(--bdr-clr);
}

.bottom ul {
    display: flex;
    flex-direction: column;
}

.bottom ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside-article li {
    list-style-type: none;
    width: 80%;
    margin: auto;   
}

.aside-article img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

