:root {
    --bg-clr-head: white;
    --input-clr: rgb(197, 197, 197);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 5fr;
    grid-template-rows: minmax(50px, 125px) 1fr;
    gap: 10px;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--bg-clr-head)
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header img {
    border-radius: 50%;
    width: 2rem;
    height: auto;
}

.icon {
    height: 20px;
    width: auto;
}

.row-1,
.row-2 {
   display: flex;
   margin-inline: 1rem;
}

.row-1 ul,
.row-2 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.row-1 ul li,
.row-2 ul li {
    margin-inline: .5rem;
    padding-top: .5rem;
}

.row-1 a,
.row-2 a {
    text-decoration: none;
    color: black;
}

.row-1 input {
    width: 400%;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--input-clr);
}

.row-1 li:last-of-type {
    font-weight: bold;
    font-size: 1.2rem;
}

.row-2 img {
    width: 3.2rem;
    height: auto;
}

.row-1 ul:first-of-type,
.row-2 ul:first-of-type {
    margin-right: auto;
}

.row-2 p {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.row-2 p:first-of-type {
    font-size: .85rem;
}

.row-2 button {
    background-color: rgb(61, 152, 213);
    color: white;
    border-radius: 20px;
    width: 6em;
    height: 2em;
    border: 1px solid rgb(61, 152, 213);
    letter-spacing: .8px;
    text-transform: uppercase;
    margin: auto;
}



aside {
    background-color: cyan;
    grid-row: 1/3;
    color: white;
} 

main {
    background-color: blueviolet;
    grid-row: 2/3;
}

aside {
    display: grid;
    grid-template-rows: ;
}