*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 5fr;
    grid-template-rows: minmax(50px, 125px) 1fr;
    gap: 10px;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: blue;
    grid-column: 2/3;
}

aside {
    background-color: cyan;
    grid-row: 1/3;
    color: white;
    gap: 10px;
    
} 

main {
    background-color: blueviolet;
    grid-row: 2/3;
}

aside {
    display: grid;
    grid-template-rows: ;
}